/* rwd_seven_main_mobile.css */


/* mobile 480================================================== */
@media screen and (max-width: 480px) {
  /* device 기준크기 : 480px */


/* commonArea ==================== */
.pro1 {float: left; min-width: 20.83333333333333vw /* 100/480*100 */; max-width: 25%; width: 25%;
	min-height: 7.5rem; max-height: 11.25rem; height: 11.25rem;}
.ser1 {float: left; min-width: 10.41666666666667vw /* 50/480*100 */;
	max-width: 22.91666666666667vw /* 110/480*100 */; width: 22.91666666666667vw /* 110/480*100 */;
	min-height: 6.25rem; max-height: 9.0625rem; height: 9.0625rem;}
.ser2 {min-width: 10.41666666666667vw /* 50/480*100 */; max-width: 22.91666666666667vw /* 110/480*100 */; width: 22.91666666666667vw /* 110/480*100 */;
	min-height: 6.25rem; max-height: 6.875rem; height: 6.875rem;}
.ser3 {min-width: 10.41666666666667vw /* 50/480*100 */; max-width: 22.91666666666667vw /* 110/480*100 */;
	width: 22.91666666666667vw /* 110/480*100 */; min-height: 0.625rem; max-height: 2.1875rem; height: 2.1875rem;
  text-align: center; line-height: 2.1875rem;}
.con1 {border-radius: 5px; min-width: 6.25vw /* 30/480*100 */; max-width: 17.5vw /* 84/480*100 */; width: 17.5vw /* 84/480*100 */;
	min-height: 1.875rem; max-height: 4rem; height: 4rem; text-align: center; line-height: 4rem;}

.pcf {display: none;}


/* headBox ======== */
.headBox {position: relative; min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 3.125rem; max-height: 4.1875rem; height: 4.1875rem;}
.head_in {position: absolute; top: 2.708333333333333vw /* 13/480*100 */; left: 5vw /* 24/480*100 */;
	min-width: 20.83333333333333vw /* 100/480*100 */; max-width: 90vw /* 432/480*100 */; width: 90vw /* 432/480*100 */;
	max-height: 2.5rem; height: 2.5rem;}
.location {position: absolute; width: 8.333333333333333vw /* 40/480*100 */; height: 2.5rem;
    background-image: url("../../../img/headBox/location_icon.svg"); background-repeat: no-repeat;
    background-position: 50% 50%; background-size: 120% 120%;}
h1 {position: absolute; left: 36.875vw /* 177/480*100 */; width: 16.25vw /* 78/480*100 */; height: 2.5rem;}
h1 > a {display: block; width: 100%; height: 100%;
    background-image: url("../../../img/headBox/logo_mobile.svg"); background-repeat: no-repeat;
    background-position: 50% 50%; background-size: 100% 100%;}
.menu_mobile {position: absolute; left: 81.66666666666667vw /* 392/480*100 */; width: 8.333333333333333vw /* 40/480*100 */; height: 2.5rem;
		background-image: url("../../../img/headBox/menu_mobile.svg"); background-repeat: no-repeat;
		background-position: 50% 50%; background-size: 110% 110%;}


/* adverBox ======== */
.adverBox {min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 12.5rem; max-height: 23.75rem; height: 23.75rem;
}

.view_indicator {position: absolute; top: 25rem; left: 10.375rem;
	width: 9.1875rem; height :0.9375rem;}
.view_indicator>ul>li{float: left; width: 0.9375rem; height: 0.9375rem;
	margin-right: 1.125rem;}
.view_indicator>ul>li:nth-child(5) {margin-right: 0;}
.view_indicator>ul>li>a{display: block; position: relative;
	background-color: #fff; width: 0.9375rem; height: 0.9375rem; border-radius: 50%;}


.adverBox>.adver_outer{width: 100%; height: 100%;}	
.adverBox>.adver_outer>ul{width: 500%; height: 100%;}	
.adverBox>.adver_outer>ul>li{width: 20%; height: 100%; float: left;}	
.adverBox>.adver_outer>ul>li>div{width: 100%; height: 100%;}	
.ad_slide_01 {background-image: url("../../../img/main/adverBox/adver_img_00.jpg");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
.ad_slide_02 {background-image: url("../../../img/main/adverBox/adver_img_02.jpg");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
.ad_slide_03 {background-image: url("../../../img/main/adverBox/adver_img_03.jpg");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
.ad_slide_04 {background-image: url("../../../img/main/adverBox/adver_img_04.jpg");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
.ad_slide_05 {background-image: url("../../../img/main/adverBox/adver_img_05.jpg");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}


/* contentBox_01 ======== */
.contentBox_01 {position: relative; min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 12.5rem; max-height: 19.375rem; height: 19.375rem;}
.contentBox_01_title_bg {position: absolute; top: 2.0625rem; bottom: 2.0625rem;
	min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 1.25rem; max-height: 1.875rem; height: 1.875rem;}
.contentBox_01_title {margin: auto; font-weight: bold; text-align: center; margin: auto; font-size: 16pt;
											width: 25vw /* 120/480*100 */; height: 1.875rem;}
.content_product_bg {position: absolute; top: 19.79166666666667vw /* 95/480*100 */; bottom: 6.875vw /* 33/480*100 */;
	min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%; line-height: 37.5vw;
	min-height: 25vw /* 25/480*100 */; max-height: 37.5vw /* 180/480*100 */; height: 37.5vw /* 180/480*100 */;}
.oneplus {border-radius: 10px; border: 3px solid #2a9246; box-sizing: border-box;
	background-image: url("../../../img/main/contentBox_01/one_bg.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.oneplus:hover {}
.twoplus {border-radius: 10px; border: 3px solid #2a9246; box-sizing: border-box;
	background-image: url("../../../img/main/contentBox_01/two_bg.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.pb {border-radius: 10px; border: 3px solid #2a9246; box-sizing: border-box;
	background-image: url("../../../img/main/contentBox_01/pb_bg.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.gift {border-radius: 10px; border: 3px solid #2a9246; box-sizing: border-box;
	background-image: url("../../../img/main/contentBox_01/present_bg.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}


/* contentBox_02 ======== */
.contentBox_02 {position: relative; min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 17.5rem; max-height: 25.5rem; height: 25.5rem;}
.contentBox_02_title_bg {position: absolute;
	min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 1.25rem; max-height: 1.875rem; height: 1.875rem;}
.contentBox_02_title {margin: auto; font-weight: bold; text-align: center; font-size: 16pt;
	min-width: 20.83333333333333vw /* 100/480*100 */; max-width: 25vw /* 120/480*100 */; width: 25vw /* 120/480*100 */;
	min-height: 0.625rem; max-height: 1.875rem; height: 1.875rem; line-height: 1.875rem;}
.service_bg_01 {position: absolute; top: 13.125vw /* 63/480*100 */; left: 11.66666666666667vw /* 56/480*100 */;
	bottom: 4.583333333333333vw /* 22/480*100 */;
	min-width: 58.33333333333333vw /* 280/480*100 */; max-width: 76.66666666666667vw /* 368/480*100 */;
	width: 76.66666666666667vw /* 368/480*100 */;
	min-height: 6.25rem; max-height: 9.0625rem; height: 9.0625rem;}
.service_bg_02 {position: absolute; left: 11.66666666666667vw /* 56/480*100 */; bottom: 6.875vw /* 33/480*100 */;
	min-width: 58.33333333333333vw /* 280/480*100 */; max-width: 76.66666666666667vw /* 368/480*100 */;
	width: 76.66666666666667vw /* 368/480*100 */;
	min-height: 6.25rem; max-height: 9.0625rem; height: 9.0625rem;}
.service_bg_two, .service_bg_five {margin-left: 4.166666666666667vw /* 20/480*100 */;}
.service_bg_three, .service_bg_six {float: right;}
.service_life_img {background-image: url("../../../img/main/contentBox_02/life.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.service_card_img {background-image: url("../../../img/main/contentBox_02/card.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.service_giftcard_img {background-image: url("../../../img/main/contentBox_02/giftcard.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.service_parcel_img {background-image: url("../../../img/main/contentBox_02/parcel.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.service_money_img {background-image: url("../../../img/main/contentBox_02/money.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.service_smart_img {background-image: url("../../../img/main/contentBox_02/smartpick.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}


/* contentBox_03 ======== */
.contentBox_03 {position: relative;
	min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 6.25rem; max-height: 11.6875rem; height: 11.6875rem;
  background-image: url("../../../img/main/seven.png");
	background-repeat: no-repeat; background-position: 50% 50%; background-size: auto;}
.contentBox_03_in {position: absolute; left: 17.91666666666667vw /* 86/480*100 */; top: 12.70833333333333vw /* 61/480*100 */;
	min-width: 58.33333333333333vw /* 280/480*100 */; max-width: 64.16666666666667vw /* 308/480*100 */; width: 64.16666666666667vw /* 308/480*100 */;
	min-height: 1.875rem; max-height: 4rem; height: 4rem;}
.advice, .job, .center {float: left;}
.advice, .job {margin-right: 5.833333333333333vw /* 28/480*100 */;}



/* pc_upBox ======== */
.pc_upBox {min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 1.25rem; max-height: 2.375rem; height: 2.375rem;}
.pc, .up {min-width: 45.83333333333333vw /* 220/480*100 */; max-width: 50%; width: 50%;
	min-height: 1.875rem; max-height: 2.375rem; height: 2.375rem; text-align: center; font-weight: bold; line-height: 2.375rem;}
.pc {float: left;}
.up {float: right;}


/* snsBox ======== */
.snsBox {position: relative; min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
	min-height: 1.25rem; max-height: 3.4375rem; height: 3.4375rem;}
.snsBox_in {position: absolute; left: 31.04166666666667vw /* 149/480*100 */; top: 2.708333333333333vw /* 13/480*100 */;
	min-width: 20.83333333333333vw /* 100/480*100 */; max-width: 38.125vw /* 183/480*100 */; width: 38.125vw /* 183/480*100 */;
	min-height: 1.25rem; max-height: 1.875rem; height: 1.875rem;}
.sns {min-width: 4.166666666666667vw /* 20/480*100 */; max-width: 6.25vw /* 30/480*100 */; width: 6.25vw /* 30/480*100 */;
	min-height: 1.25rem; max-height: 1.875rem; height: 1.875rem;}
.facebook, .kakaotalk, .blog {float: left; margin-right: 4.375vw /* 21/480*100 */;}
.facebook {background-image: url("../../../img/facebook_icon.png"); background-repeat: no-repeat;}
.kakaotalk {background-image: url("../../../img/kakao_icon.png"); background-repeat: no-repeat;}
.blog {background-image: url("../../../img/blog_icon.png");}
.instagram {float: right; background-image: url("../../../img/insta_icon.png");}

/* footBox ======== */
.footBox {position: relative; min-width: 58.33333333333333vw /*280/480*100*/; width: 100%;
	min-height: 6.25rem; max-height: 7.625rem; height: 7.625rem;}
.addressBox {position: absolute; left: 9.166666666666667vw /* 44/480*100 */; top: 6.041666666666667vw /* 29/480*100 */; font-style: normal; font-size: 8pt; color: #fff;
	min-width: 58.33333333333333vw /* 280/480*100 */; max-width: 81.66666666666667vw /* 392/480*100 */; width: 81.66666666666667vw /* 392/480*100 */;
	min-height: 2.5rem; max-height: 3.625rem; height: 3.625rem;}
.familyBox {display: none;}


} /*end mobile 480*/