/* sevenEleven_main_mobile.css */


/* mobile 480================================================== */
@media screen and (max-width: 480px) {
  /* device 기준크기 : 480px */


/* commonArea ==================== */
.pcf, .con {display: none;}

/* headBox ======== */
.headBox {position: relative; min-width: 58.33333333333333vw /* 280/480*100 */; width: 100%;
  min-height: 3.125rem; max-height: 4.1875rem; height: 4.1875rem;}
.head_in {position: absolute; top: 2.708333333333333vw /* 13/480*100 */; left: 5vw /* 24/480*100 */;
  min-width: 20.83333333333333vw /* 100/480*100 */; max-width: 90vw /* 432/480*100 */; width: 90vw /* 432/480*100 */;
  max-height: 2.5rem; height: 2.5rem;}
.location {position: absolute; width: 8.333333333333333vw /* 40/480*100 */; height: 2.5rem;
    background-image: url("../../../img/headBox/location_icon.svg"); background-repeat: no-repeat;
    background-position: 50% 50%; background-size: 100% 100%;}
h1 {position: absolute; left: 36.875vw /* 177/480*100 */; width: 16.25vw /* 78/480*100 */; height: 2.5rem;
    background-image: url("../../../img/headBox/logo_mobile.svg"); background-repeat: no-repeat;
    background-position: 50% 50%; background-size: 100% 100%;}
.menu_mobile {position: absolute; left: 81.66666666666667vw /* 392/480*100 */; width: 8.333333333333333vw /* 40/480*100 */; height: 2.5rem;
	  background-image: url("../../../img/headBox/menu_mobile.svg"); background-repeat: no-repeat;
		background-position: 50% 50%; background-size: 110% 110%;}

/* titleBox ======== */
.titleBox {min-height: 3.375rem; max-height: 3.375rem; height: 3.375rem;}
.title {margin: auto; min-width: 10.41666666666667vw /* 50/480*100 */; max-width: 20.83333333333333vw /* 100/480*100 */; width: 20.83333333333333vw /* 100/480*100 */;
  min-height: 3.375rem; max-height: 3.375rem; height: 3.375rem; font-size: 16pt;
  text-align: center; font-weight: bold; line-height: 3.375rem; text-transform: uppercase;}


/* conBox ======== */
.conBox {min-height: 99.8125rem; max-height: 99.8125rem; height: 99.8125rem;}
.eventBox {position: relative; margin-top: 7.708333333333333vw /* 37/480*100 */; margin-left: 26.04166666666667vw /* 125/480*100 */;
	margin-bottom: 8.333333333333333vw /* 40/480*100 */; min-width: 41.66666666666667vw /* 200/480*100 */; max-width: 47.91666666666667vw /* 230/480*100 */; width: 47.91666666666667vw /* 230/480*100 */;
	height: 95rem;}
.eventBox_07, .eventBox_08 {display: none;}
.evt {margin-bottom: 0.875rem; width: 47.91666666666667vw /* 230/480*100 */; height: 14.375rem;}
.eventBox_06 {margin-bottom: 0;}
.eventBox_more {position: absolute; top: 305.2083333333333vw /* 1465/480*100 */; left: 15vw /* 72/480*100 */;
	width: 17.91666666666667vw /* 86/480*100 */; max-height: 2.5rem; height: 2.5rem;}


/* footBox ======== */
.footBox {position: relative; min-width: 58.33333333333333vw /*280/480*100*/; width: 100%;
  min-height: 6.25rem; max-height: 7.625rem; height: 7.625rem;}
.addressBox {position: absolute; left: 9.166666666666667vw /* 44/480*100 */; top: 6.041666666666667vw /* 29/480*100 */; font-style: normal; font-size: 10pt;
  color: #fff;
  min-width: 58.33333333333333vw /* 280/480*100 */; max-width: 81.66666666666667vw /* 392/480*100 */; width: 81.66666666666667vw /* 392/480*100 */;
  min-height: 2.5rem; max-height: 3.625rem; height: 3.625rem;}
.familyBox {display: none;}

}/* end mobile 480 */