/* sevenEleven_product_common.css */

/* commonArea ==================== */
i {font-style: normal;}
#wrap {width: 100%; height: auto;}
.videoBox_title_01, .videoBox_title_02 {color: #2a9346;}


/* headBox ======== */
.headBox {background-color: #fff;}
.head_in {background-color: #fff;}
.location, h1, .menu_mobile, .search, .happy {background-color: transparent;}

/* titleBox ======== */
.titleBox {background-color: #2a9346;}
.title {background-color: transparent;}

/* productBox ======== */


  /* newBox ======== */


/* snsBox ======== */
.snsBox {background-color: #171717;}
.snsBox_in {background-color: transparent;}
.sns {background-color: transparent;}

/* footBox ======== */
.footBox {background-color: #171717;}
.addressBox {background-color: transparent; color: #fff;}
.snsBox_2 {background-color: transparent;}
.sns_2 {background-color: transparent;}